body,
html {
    height: 100%;
    margin: 0%;
    font-size: 12px;
    line-height: 1.5;
    font-family: 'Segoe UI';
}

#container {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: inline-table;
}

#header {
    width: 100%;
    height: 45px;
    font-size: 17px;
    display: flex;
    flex-direction: row;
    align-items: middle;
    text-align: center;
    justify-content: center;
    background-color: #c39a2d;
}

#header-shadow {
    background-color: #e6c700;
    height: 1px;
    width: 100%;
}

#header-text {
    margin-left: 40px;
    margin-top: 3px;
    width: fit-content;
    height: 10px;
    text-align: center;
    font-size: 23px;
    font-weight: bolder;
    color: #544e51;
}

#logo-button {
    margin-right: 20px;
}

button {
    padding: 15;
    font-size: 19px;
    border: none;
    background: none;
}

.menu-button {
    color: #ffffff;
}

#left-panel {
    flex: 1;
    width: 20%;
    height: 100%;
    float: left;
}

#content {
    flex: 2;
    width: 60%;
    height: fit-content;
    float: left;
}

#right-panel {
    flex: 3;
    width: 20%;
    height: 100%;
    float: left;
}

.basecolor {
    height: 100%;
    width: 50%;
    background-color: #ececed;
    float: left;
}

.darker-1 {
    height: 100%;
    width: 9%;
    background-color: #ededee;
    float: left;
}

.darker-2 {
    height: 100%;
    width: 9%;
    background-color: #efefef;
    float: left;
}

.darker-3 {
    height: 100%;
    width: 9%;
    background-color: #f0f0f1;
    float: left;
}

.darker-4 {
    height: 100%;
    width: 9%;
    background-color: #f2f2f2;
    float: left;
}

.darker-5 {
    height: 100%;
    width: 9%;
    background-color: #f3f3f3;
    float: left;
}

.darker-6 {
    height: 100%;
    width: 5%;
    background-color: #f3f3f4;
    float: left;
}

article {
    margin: 60px;
    height: 100%;
    font-size: 17px;
}

#logo-image {
    width: 40px;
    height: 40px;
}

#sources {
    font-size: 9px;
    margin-top: 30px;
    float: left;
}

.article-image {
    margin: 40px;
    max-width: 90%;
    text-align: center;
    display: block;
}

span {
    float: left;
}

.panel {
    display: table-cell;
}